.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: inherit;

  transition: opacity 0.2s ease;
  opacity: 1;
}

/* 425 */
@media (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 0.1;
  }
}

.header__lang-link:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}