.page {
  margin: 0 auto;
  min-width: fit-content;
  max-width: 1280px;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(42, 44, 47, 1);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
