.photo-grid {
  width: calc(100% - 48px * 2);
  max-width: 1184px;
  margin: auto;
  padding-bottom: 88px;
}

/* 1024px */
@media (max-width: 1024px) {
  .photo-grid {
    width: calc(100% - calc((100vw - 768px) / (1024 - 768) * (48 - 24) + 24px) * 2);
  }
}

/* 768px */
@media (max-width: 768px) {
  .photo-grid {
    width: calc(100% - calc((100vw - 320px) / (768 - 320) * (24 - 16) + 16px) * 2);
  }
}

/* 320px */
@media (max-width: 320px) {
  .photo-grid {
    width: calc(100% - 16px * 2);
    padding-bottom: 60px;
  }
}
