.places {
  display: grid;
  gap: 76px 0;
  justify-content: center;
  max-width: calc(100% - 296px);
  margin: 0 auto 100px;
}

/* 1024px */
@media (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

/* 768px */
@media (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    margin: 0 auto 88px;
  }
}

/* 640px */
@media (max-width: 640px) {
  .places {
    gap: 50px 0;
    max-width: 100%;
    margin: 0 auto 70px;
  }
}
