.places {
  display: grid;
  justify-content: center;
  gap: 80px 0;
  width: calc(100% - 148px * 2);
  max-width: 984px;
  margin: 0 auto 92px;
}

/* 1280px */
@media (max-width: 1280px) {
  .places {
    width: calc(100% - calc((100vw - 1024px) / (1280 - 1024) * (148 - 48) + 48px) * 2);
    margin: 0 auto calc((100vw - 768px) / (1280 - 768) * (92 - 90) + 90px);
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .places {
    width: calc(100% - calc((100vw - 768px) / (1024 - 768) * (48 - 24) + 24px) * 2);
  }
}

/* 768px */
@media (max-width: 768px) {
  .places {
    width: calc(100% - 24px * 2);
    margin: 0 auto calc((100vw - 568px) / (768 - 568) * (90 - 66) + 66px);
  }
}

/* 568px */
@media (max-width: 568px) {
  .places {
    gap: 50px 0;
    width: 100%;
    margin: 0 auto 66px;
  }
}
