.lead {
  width: calc(100% - 148px * 2);
  margin: 0 auto 92px;
}

/* 1280px */
@media (max-width: 1280px) {
  .lead {
    width: calc(100% - calc((100vw - 1024px) / (1280 - 1024) * (148 - 48) + 48px) * 2);
    margin: 0 auto calc((100vw - 768px) / (1280 - 768) * (92 - 88) + 88px);
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .lead {
    width: calc(100% - calc((100vw - 768px) / (1024 - 768) * (48 - 0) + 0px) * 2);
  }
}

/* 768px */
@media (max-width: 768px) {
  .lead {
    width: 100%;
    margin: 0 auto calc((100vw - 320px) / (768 - 320) * (88 - 64) + 64px);
  }
}

/* 320px */
@media (max-width: 320px) {
  .lead {
    margin: 0 auto 64px;
  }
}
