.lead {
  max-width: calc(100% - 296px);
  margin: 0 auto 92px;
}

/* 1024px */
@media (max-width: 1024px) {
  .lead {
    max-width: calc(100% - 96px);
  }
}

/* 768px */
@media (max-width: 768px) {
  .lead {
    max-width: 100%;
    margin: 0 auto 88px;
  }
}

/* 425px */
@media (max-width: 425px) {
  .lead {
    margin: 0 auto 64px;
  }
}