.cover__subtitle {
  font-family: 'Inter-Regular', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;

  margin: 0 auto;
}

/* 767px */
@media (max-width: 767px) {
  .cover__subtitle {
    font-size: calc((100vw - 320px)/(767 - 320) * (18 - 14) + 14px);
    line-height: calc((100vw - 320px)/(767 - 320) * (23.4 - 16) + 16px);  
  }
}

/* 425px */
@media (max-width: 425px) {
  .cover__subtitle  {
    max-width: 288px;
  }
}