.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 1.22;
}

/* 768px */
@media (max-width: 768px) {
  .cover__subtitle {
    max-width: calc((100vw - 320px) / (768 - 320) * (360 - 250) + 250px);

    font-size: calc((100vw - 320px) / (768 - 320) * (18 - 14) + 14px);
  }
}

/* 320px */
@media (max-width: 320px) {
  .cover__subtitle {
    max-width: 250px;

    font-size: 14px;
    line-height: 1.14;
  }
}
