.header {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 96px);
  margin: 28px auto 56px;
}

/* 1024 */
@media (max-width: 1024px) {
  .header {
    margin: 28px auto 48px;
  }
}

/* 768 */
@media (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
  }
}

/* 425 */
@media (max-width: 425px) {
  .header {
    max-width: calc(100% - 32px);
    margin: 16px auto 48px;
  }
}
