.footer__link {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: inherit;

  transition: opacity 0.2s ease;
  opacity: 1;
}

.footer__link:hover {
  opacity: 0.8;
}

/* 767px */
@media (max-width: 767px) {
  .footer__link {
    font-size: 24px;
  }
}
