.lead__title {
  max-width: 720px;
  margin: 0 auto 33px;

  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-align: center;
}

/* 720px */
@media (max-width: 720px) {
  .lead__title {
    font-size: calc((100vw - 425px)/(720 - 425) * (96 - 40) + 40px); 
  }
}

/* 568px */
@media (max-width: 568px) {
  .lead__title {
    max-width: 500px;
  }
}

/* 425px */
@media (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    margin: 0 auto 16px;

    font-size: 40px;
    line-height: 1.03;
  }
}