.place__paragraph {
  margin: 0 0 26px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.place__paragraph:last-of-type {
	margin-bottom: 0;
}

/* 768px */
@media (max-width: 768px) {
	.place__paragraph {
		margin: 0 0 25px;

    font-size: 16px;
		line-height: 1.62;
	}
}

/* 640px */
@media (max-width: 640px) {
	.place__paragraph {
    line-height: 1.63;
	}
}