.intro__text {
  max-width: 690px;
  margin: 0 0 33px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.61;
}

/* 320px */
@media (max-width: 320px) {
  .intro__text {
    line-height: 1.64;
  }
}
