.intro__text {
  max-width: 690px;
  margin: 0 0 33px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.61;
}

/* 425px */
@media (max-width: 425px) {
  .intro__text {
    margin: 0 0 37px;
  }
}