.intro {
  max-width: calc(100% - 296px);
  margin: 0 auto 92px;
}

/* 1024px */
@media (max-width: 1024px) {
  .intro {
    max-width: calc(100% - 96px);
  }
}

/* 768px */
@media (max-width: 768px) {
  .intro {
    max-width: calc(100% - 48px);
    margin: 0 auto 88px;
  }
}

/* 425px */
@media (max-width: 425px) {
  .intro {
    max-width: calc(100% - 32px);
    margin: 0 auto 64px;
  }
}