.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 60px;

  font-weight: 400;
  font-size: 30px;
  line-height: 1.32;
  text-align: center;
}

/* 1024px */
@media (max-width: 1024px) {
  .lead__subtitle {
    max-width: 640px;
    margin: 0 auto 52px;
  }
}

/* 720px */
@media (max-width: 720px) {
  .lead__subtitle {
    max-width: 450px;
    margin: 0 auto 56px;

    font-size: calc((100vw - 425px)/(720 - 425) * (30 - 16) + 16px);
  }
}

/* 568px */
@media (max-width: 568px) {
  .lead__subtitle {
    max-width: 300px;
  }
}

/* 425px */
@media (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 0 auto 40px;

    font-size: 16px;
    line-height: 1.3;
  }
}