.cover {
  max-width: calc(100% - 96px);
  margin: 0 auto 93px;
}

/* 1024px */
@media (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

/* 768px */
@media (max-width: 768px) {
  .cover {
    margin: 0 auto 88px;
  }
}

/* 425px*/
@media (max-width: 425px) {
  .cover {
    margin: 0 auto 64px;
  }
}
