.cover {
  margin: 0 auto 92px;
  max-width: calc(100% - 96px);
  background-image: url('../../images/cover-image(L).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1024px */
@media (max-width: 1024px) {
  .cover {
    max-height: 640px;
    max-width: 100%;
  }
}

/* 768px */
@media (max-width: 768px) {
  .cover {
    margin: 0 auto 88px;
    background-image: url('../../images/cover-image(S).jpg');
    max-height: 480px;
  }
}

/* 425px*/
@media (max-width: 425px) {
  .cover {
    margin: 0 auto 64px;
    max-height: 200px;
  }
}