.place__link {
  font-size: 18px;
  line-height: 1.22;
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter-Regular', 'Arial', sans-serif;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.place__link:hover {
  opacity: 0.8;
}