.cover__overlay {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 20.5%;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.2s ease;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

/* 1024px */
@media (max-width: 1024px) {
  .cover__overlay {
    padding: 19%;
  }
}

/* 768px */
@media (max-width: 768px) {
  .cover__overlay {
    padding: 14.95%;
  }
}