.cover__overlay {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20.5%;

  text-decoration: none;
  color: inherit;
  
  background-color: rgba(42, 44, 47, 0.3);

  transition: background-color 0.2s ease;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

/* 1024px */
@media (max-width: 1024px) {
  .cover__overlay {
    padding: 19%;
  }
}

/* 768px */
@media (max-width: 768px) {
  .cover__overlay {
    padding: 9.5%;
  }
}