.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 740px;

  text-align: center;

  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.2s ease;
}

/* 1280px */
@media (max-width: 1280px) {
  .cover__overlay {
    min-height: calc((100vw - 1024px) / (1280 - 1024) * (740 - 640) + 640px);
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .cover__overlay {
    min-height: calc((100vw - 768px) / (1024 - 768) * (640 - 480) + 480px);
  }
}

/* 768px */
@media (max-width: 768px) {
  .cover__overlay {
    min-height: calc((100vw - 320px) / (768 - 320) * (480 - 200) + 200px);
  }
}

/* 320px */
@media (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
