.cover__title {
  max-width: 560px;
  margin: 0 auto 34px;

  font-weight: 700;
  font-size: 73px;
  line-height: 1;
  text-align: center;
}

/* 767px */
@media (max-width: 767px) {
  .cover__title {
    font-size: calc((100vw - 320px)/(767 - 320) * (73 - 32) + 32px);
    line-height: calc((100vw - 320px)/(767 - 320) * (73 - 35) + 35px);    
  }
}

/* 425px */
@media (max-width: 425px) {
  .cover__title  {
    max-width: 251px;
    margin-bottom: 15px;
  }
}