.footer__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

/* 767px */
@media (max-width: 767px) {
  .footer__list {
    flex-direction: column;
    margin-bottom: 48px;
  }
}