.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  gap: 48px 40px;
}

/* 1024px */
@media (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
    gap: 48px 32px;
  }
}

/* 900px */
@media (max-width: 900px) {
  .place {
    grid-template-columns: 1fr 1fr;
  }
}

/* 768px */
@media (max-width: 768px) {
  .place {
    grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
    gap: 46px 28px;
  }
}

/* 640px */
@media (max-width: 640px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px 0;
  }
}
