.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px * 2);
  max-width: 1184px;
  margin: 0 auto 23px;
}

/* 1280px */
@media (max-width: 1280px) {
  .footer {
    width: calc(100% - calc((100vw - 768px) / (1280 - 768) * (48 - 24) + 24px) * 2);
  }
}

/* 768px */
@media (max-width: 768px) {
  .footer {
    width: calc(100% - 24px * 2);
  }
}

/* 767px */
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin-left: 16px;
  }
}
