.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px * 2);
  max-width: 1184px;
  margin: auto;
  padding: 92px 0 23px;
}

/* 1280px */
@media (max-width: 1280px) {
  .footer {
    width: calc(100% - calc((100vw - 768px) / (1280 - 768) * (48 - 24) + 24px) * 2);
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .footer {
    padding: calc((100vw - 768px) / (1024 - 768) * (92 - 88) + 88px) 0 23px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .footer {
    width: calc(100% - 24px * 2);
    padding: calc((100vw - 320px) / (768 - 320) * (88 - 64) + 64px) 0 23px;
  }
}

/* 767px */
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 64px 0 23px 16px;
  }
}
