.intro__title {
  margin: 0 0 40px;

  font-weight: 900;
  font-size: 54px;
  line-height: 1.15;
}

/* 425px */
@media (max-width: 425px) {
  .intro__title {
    max-width: 251px;
    
    font-size: calc((100vw - 320px)/(425 - 320) * (54 - 32) + 32px);
    line-height: calc((100vw - 320px)/(425 - 320) * (58 - 37) + 37px);
  }
}